<fotter class="bottom-0 text-center ">
    <small class="text-center">Copyright &copy; <span id="copyright"></span>2024 | All rights reserved</small>
</fotter>

<!-- <script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script> -->