---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout>
	<!-- <div class="relative pt-4 h-96 m-10 box-border min-h-fit">
		<p class="font-semibold text-center">Get To Know More</p>
		<h1 class="text-4xl font-bold text-center">About Me</h1>
		<div class=" flex ">
			<div class="flex h-400 w-400 m-auto" >
				<img src="/me.png" height="300px" width="300px">
			</div>
			<div class="flex flex-row justify-center">
				<div class="flex gap-2 mb-2 mt-2">
					<div >
						<img width="50px" height="50px" src="/education-cap-student-graduation-university.svg" alt="">
						<h3>Education</h3>
						<p>Bachelor of Engineering <br/> University of Silesia</p>
					</div>
				</div>
				<div>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
			</div>
		</div>
	</div> -->
<div class="">
	<div class="flex-wrap mb-24 ">
		<p class="font-semibold text-center">Get To Know More</p>
		<h1 class="text-5xl font-bold text-center">About Me</h1>
	</div>
	<div class="grid mx-auto md:grid-rows-1 md:grid-flow-col  gap-4 justify-center justify-items-center mb-52">
		<div class="row-span-3">
			<img src="/me.png" height="300px" width="300px" class="rounded-[36px]">
		</div>
		<div class="ml-4">
			<div class="col-span-2">
				<div class="grid text-center justify-items-center rounded-[36px] p-4 mb-4 bg-stone-300 mr-4">
					<img class="" width="50px" height="50px" src="/education-cap-student-graduation-university.svg" alt="">
								<h3 class="font-bold text-xl">Education</h3>
								<p>Bachelor of Engineering <br/> University of Silesia <br/> 2024</p>
				</div>
			</div>
			<div class="row-span-2 col-span-2 rounded-[36px] p-4 mb-4 bg-stone-100 mr-4 min-h-44">
				<div class="max-w-[700px]">
					<p class="text-center indent-8 pt-8">
						I’m a passionate and fast-learning software engineer eager to contribute to impactful projects.<br/> 
						I have hands-on experience with web technologies such as JavaScript (React) and PHP (Laravel),
						 as well as a growing knowledge of Java (Spring, Hibernate).
					</p>
				</div>
			</div>
		</div>
	</div>
 	<div id="expirience" class="h-max-lvh md:h-screen">
		<div class="mb-24 pt-16">
			<p class="font-semibold text-center">I have worked with</p>
			<h1 class="text-5xl font-bold text-center">Technologies</h1>
		</div>
		<div class="lg:flex justify-center ">

		<div class="rounded-[36px] p-4 mb-4 bg-stone-300 lg:mx-24 mx-12 md:min-w-[500px]">
			<h1 class="text-3xl font-bold text-center">Frontend</h1>
			<div class="grid gap-8 m-8 max-[768px]:grid-cols-1 md:grid-flow-col md:grid-rows-2 justify-between">
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">HTML</h3>
				</div>
			
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">CSS</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20 ">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">JavaScript</h3>
				
				</div>
				<div class="grid  text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">React</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Tailwind</h3>
					
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Bootstrap</h3>
					
				</div>
			
			</div>	
		</div>
		<div class="rounded-[36px] p-4 mb-4 bg-stone-300 lg:mx-24 mx-12 md:min-w-[500px]">
			<h1 class="text-3xl font-bold text-center">Backend</h1>
			<div class="grid gap-8 m-8 max-[768px]:grid-cols-1 md:grid-flow-col md:grid-rows-2 justify-between">
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">PHP</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Laravel</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Java</h3>
					
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Spring</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">MySQL</h3>
				
				</div>
				<div class="grid text-center justify-items-center min-w-20">
					<img class="" width="40px" height="40px" src="/check.svg" alt="">
					<h3 class="font-bold text-md">Docker</h3>
				
				</div>
			
			</div>	
		</div>
	</div>
	</div>
	<div id="contact" class="mb-96 ">
		<div class="mb-24 ">
			<p class="font-semibold text-center">Get in Touch</p>
			<h1 class="text-5xl font-bold text-center">Contact Me</h1>
		</div> 
		<div class="rounded-[36px] p-4 max-w-[600px] rounded-[36px] m-auto bg-stone-300">
			<div class="flex items-center justify-center max-[768px]:flex-col rounded-[36px] ">
				
				<div class="flex">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FFFFFF#" class="fill-current hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400 h-16 w-16"> <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path> <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path> </svg>
					<h3 class="font-semibold text-xl content-center mx-4">mateusz.furgalskii@gmail.com</h3>
				</div>
				<div class="flex  items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current h-12 w-12"> <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path> </svg>
						<a href="https://www.linkedin.com/in/mateusz-furgalski-a28ab0241/" class="hover:text-stone-500 hover:underline hover:underline-offset-8" target="_blank">
					<h3 class="font-semibold text-xl content-center mx-4">LinkedIn</h3>
				</a>
				</div>
			</div>
				
		</div>
		
		
	</div>
</div>


</MainLayout>
