---
import MainLayout from '../../layouts/main-layout.astro'
---

<MainLayout>
    <div class="h-screen">
        <h1 class="text-5xl font-bold text-center mb-8">Onboardme</h1>
        <p class="text-center mb-8">Onboardme is a project management and collaboration tool, that helps individuals and teams, organise tasks and workflows using a visual system based on kanban cards.</p>
        <img class="m-auto mb-4" src="https://i.gyazo.com/e74f48bd3eedab620e0f39e637b13a6c.gif" alt="" />
        <h1 class="text-lg text-center font-bold ml-4 mb-8">Technologies: Laravel, React, Tailwind, Docker</h1>
        <h1 class="text-xl text-center font-bold ml-4 mb-8">The application is under development. The documentation will be able soon.</h1>
    </div>
	
</MainLayout>